* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-image: url('https://www.shutterstock.com/image-illustration/view-waterfall-forest-600nw-2327645439.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.redColor {
  color: red;
}

.greenColor {
  color: green;
}

.orangeColor {
  color: orange;
}

#time {
  margin-bottom: 5rem;
}

.centerCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid green;
  background-color: rgba(240, 240, 240, 0.5);
  padding: 20px;
  border-radius: 15px;
  font-weight: bold;
  color: green;
  width: 145vh;
}


input {
  font-size: 2rem;
  border-radius: 10px;
  border-color: green;
  font-weight: bold;
  color: green;
  background-color: rgba(240, 240, 240, 0.3);
}

input:hover {
  transition: 2;
  border-color: blue;
}
