*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.redColor {
  color: red;
}

.greenColor {
  color: green;
}

.orangeColor {
  color: orange;
}

#time {
  margin-bottom: 5rem;
}

input {
  font-size: 2rem;
  border-radius: 10%;
  border-color: green;
  font-weight: bold;
  color: green;
}